* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Handlee', serif;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    font-size: 18px;
    background-color: #72634b;
    font-weight: 700;
}

.navbar-nav li a {
    color: white;
    transition: all 1s;
}

.navbar-nav li a:hover {
    color: #228b22;
}

.navbar .navbar-brand {
    font-size: 24px;
}

/* -------------------home---------------- */
.home {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/images/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-container {
    width: 100%;
    height: 100%;
}

.home-container .layer {
    background-color: rgba(110, 84, 61, 0.6);
}

.home-container .layer .home-text h1 {
    font-size: 50px;
    position: relative;
    padding-bottom: 25px;
}

.home-container .layer .home-text h1::after {
    content: "";
    position: absolute;
    background-color: #228b22;
    height: 3px;
    width: 10%;
    bottom: 0;
    left: calc(50% - 20px);
}

.home-container .layer .home-text p {
    color: rgba(255, 255, 255, 0.75);
}

.home-container .layer .home-text button {
    background-color: #228b22;
    border: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.home-container .layer .home-text button a {
    color: white;
}

.home-container .layer .home-text button:hover {
    background-color: #31ab31;
}

/* ------------------about---------------- */
.about-section {
    background-color: #228b22;
    color: white;
}

.about-section .container h2 {
    font-size: 40px;
    position: relative;
    padding-bottom: 25px;
}

.about-section .container h2::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 10%;
    bottom: 0;
    right: 45%;
}

.about-section .container p {
    color: rgba(255, 255, 255, 0.75);
}

.about-section .container button {
    background-color: white;
    border: none;
    transition: all .5s;
}

.about-section .container button a {
    color: rgb(20, 20, 20);
    text-align: center;
}

.about-section .container button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

/* -------------------Service------------ */
.title h2 {
    position: relative;
}

.title h2::after {
    content: "";
    position: absolute;
    background-color: #228b22;
    height: 3px;
    width: 10%;
    bottom: 0;
    right: 45%;

}

.Service-section .content i {
    color: #228b22;
    font-size: 40px;
    padding: 10px 0px;
}

.Service-section .content p {
    color: rgb(121, 119, 119);
}

/* ---------------projects--------------- */
.projects .item-layer {
    background-color: #228b22;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.projects .item:hover .item-layer {
    opacity: 1;
}

/* --------------contact------------- */
.contact .btn-submit {
    background-color: #228b22;
    color: white;
    font-weight: bold;
    transition: all .4s;
}

.contact .btn-submit:hover {
    background-color: #1c7a1c;
}

@media (max-width: 576px) {
    .projects .item-layer {
        background-color: #228b224d;
        opacity: 1;
    }

    .contact .contact-form {
        width: 90% !important;
    }
}